<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Comparison</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ '/assets/css/twentytwenty.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet" type="text/css" />
	</head>
  <body style="background-color:#CCCCCC;">
    <script src="{{ '/assets/js/jquery.v1.10.1.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.event.move.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.twentytwenty.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <section class="main-content">

	    {{ content }}

    </section>
    <script>
        $(window).load(function(){
            $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.33});
            $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.33, orientation: 'vertical'});
        });
    </script>
  </body>
</html>
